.git/
assets/node_modules/
priv/static/

.dockerignore
.env*
!.env.example
docker-compose.override.yml

**/node_modules
**/.idea
**/.vscode
**/*.iml
**/_build
**/cover
**/deps
**/erl_crash.dump
*.ez
**/priv/static